body{
    background-color: #FFFDD0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* outline-style: solid; */
    width: 350px;
    height: 44vh;
    border-radius:0.7em;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.display{
    text-align : right;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 30px;
    border: 0;
    outline: None;
    padding-right: 10px;
}

.content{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button{
    font-size: 20px;
    outline:None;
    border: 0;
    height: 75px;
}

button.func {
    background-color:silver;
    outline: None;
}




.content_container{
    display : flex; 
    flex-direction: row;
    justify-content: center; 
    /* outline-style: dotted; */
}

.numbers{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap : 0px; 
    width: 210px;
    height: 300px;
    /* outline-color : black; */
    /* outline-style: dotted; */
}

.numbers button{
    padding: 15px 15px;
    font-size: 20px;
    outline: silver solid 0.01em;
    border: 0;
}

.operator{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap : 0px; 
    /* outline-color : black; */
    /* outline-style: dotted;  */
    padding-left: 0px;
    width: 140px;

}

.operator button{
    padding: 8px 8px;
    font-size: 20px;
    background-color: silver;
    outline: rgba(0, 0, 0, 0.247) solid 0.01em;
    border: 0;
}

